extends layout

block content
    <div calss="container">
        <form class="form">
            <div class="row justify-content-end mb-4">
                <div class="col-auto">
                    <div class="input-group rounded">
                        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                        <button class="input-group-text border-0" id="search-addon">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Universidad</th>
                <th scope="col">Especialidad</th>
                <th scope="col">Descripcion</th>
                <th scope="col">e-mail</th>
                <th scope="col">Facebook</th>
                <th scope="col">Twitter</th>
                <th scope="col">Linkedn</th>
                <th scope="col">Rol</th>
                <th scope="col">Actividades</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Universidad</td>
                <td>especialidad</td>
                <td>descripcion</td>
                <td>e-mail</td>
                <td>facebook</td>
                <td>twitter</td>
                <td>linkedn</td>
                <td>rol</td>
                <td>actividades</td>

                <td>
                    <button type="button" class="btn btn-primary">Editar</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>