extends layout

block append styles
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('../public/images/UNSA1.png')">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="display-4">Semana de la Computación 2020</h2>
            <p class="lead">Organizado por la escuela Ciencia de la Computación - UNSA.</p>
            <a href="http://csunsa.win/" class="btn btn-success stretched-link">Ir a la edición 2020</a>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('https://cdn.discordapp.com/attachments/784532057917095957/874846902586323024/UNSA10.jpg')">
          <div class="carousel-caption d-none d-md-block">
            
            <h2 class="display-4">Semana de la Computación 2021</h2>
            <p class="lead">Organizado por la escuela Ciencia de la Computación - UNSA.</p>
            <a href="/edicion/2021" class="btn btn-success stretched-link">Ir a la edición 2021</a>
              
          </div>
        </div>
        
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

