doctype html
html
  head

    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')

    title=title

    //Bootstrap
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    script(src="/javascripts/jquery.slim.min.js")

    <!--Own CSS-->
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    block styles

  body
    block content


    
    script(src="/javascripts/bootstrap.bundle.min.js") 
    script(src="/javascripts/jquery.slim.min.js")
    
