extends layout

block content
    <h3 class="text-center">CONTRIBUIDORES</h3>
    <div class="container p-5">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <img src="..." class="card-img-top" alt="...">
                        <h5>Nombre</h5>
                        <p>Especialidad</p>
                        <p>Universidad</p>
                        <p>Rol</p>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Launch demo modal</button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Nombre</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">...</div>
                                    </div>
                                </div>
                            </div>
                        <div class="d-flex flex-row justify-content-center">
                            <div class="p-3"><a href="http://facebook.com"><i class="fab fa-facebook"></i></a></div>  
                            <div class="p-3"><a href="http://twitter.com"><i class="fab fa-twitter"></i></a></div>  
                            <div class="p-3"><a href="http://linkedin.com"><i class="fab fa-linkedin"></i></a></div>  
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <img src="..." class="card-img-top" alt="...">
                        <h5 class="card-title">Nombre</h5>
                        <p>Especialidad</p>
                        <p>Universidad</p>
                        <p>Rol</p>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Launch demo modal</button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Nombre</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">...</div>
                                    </div>
                                </div>
                            </div>
                        <div class="d-flex flex-row justify-content-center">
                            <div class="p-3"><a href="http://facebook.com"><i class="fab fa-facebook"></i></a></div>  
                            <div class="p-3"><a href="http://twitter.com"><i class="fab fa-twitter"></i></a></div>  
                            <div class="p-3"><a href="http://linkedin.com"><i class="fab fa-linkedin"></i></a></div>  
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <img src="..." class="card-img-top" alt="...">
                        <h5 class="card-title">Nombre</h5>
                        <p>Especialidad</p>
                        <p>Universidad</p>
                        <p>Rol</p>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Launch demo modal</button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Nombre</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">...</div>
                                    </div>
                                </div>
                            </div>
                        <div class="d-flex flex-row justify-content-center">
                            <div class="p-3"><a href="http://facebook.com"><i class="fab fa-facebook"></i></a></div>  
                            <div class="p-3"><a href="http://twitter.com"><i class="fab fa-twitter"></i></a></div>  
                            <div class="p-3"><a href="http://linkedin.com"><i class="fab fa-linkedin"></i></a></div>  
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <img src="..." class="card-img-top" alt="...">
                        <h5 class="card-title">Nombre</h5>
                        <p>Especialidad</p>
                        <p>Universidad</p>
                        <p>Rol</p>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Launch demo modal</button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Nombre</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">...</div>
                                    </div>
                                </div>
                            </div>
                        <div class="d-flex flex-row justify-content-center">
                            <div class="p-3"><a href="http://facebook.com"><i class="fab fa-facebook"></i></a></div>  
                            <div class="p-3"><a href="http://twitter.com"><i class="fab fa-twitter"></i></a></div>  
                            <div class="p-3"><a href="http://linkedin.com"><i class="fab fa-linkedin"></i></a></div>  
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <img src="..." class="card-img-top" alt="...">
                        <h5 class="card-title">Nombre</h5>
                        <p>Especialidad</p>
                        <p>Universidad</p>
                        <p>Rol</p>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Launch demo modal</button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Nombre</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">...</div>
                                    </div>
                                </div>
                            </div>
                        <div class="d-flex flex-row justify-content-center">
                            <div class="p-3"><a href="http://facebook.com"><i class="fab fa-facebook"></i></a></div>  
                            <div class="p-3"><a href="http://twitter.com"><i class="fab fa-twitter"></i></a></div>  
                            <div class="p-3"><a href="http://linkedin.com"><i class="fab fa-linkedin"></i></a></div>  
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>